* {
    box-sizing: border-box;
}
body {
    background: #fff;
}
.padre {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
/**hijos**/
.caja1 {
    display: flex;
    flex-wrap: wrap;
    width: 70%;
    background: red;
    font-size: 40px;
    color:#fff;

    /*relleno interno margen interno*/
    /**       top right  bot left  */
    padding: 20px 25px 25px 60px;
}
.caja1 h2,p{
  line-height:2;
}
.caja2 {
    width: 30%;
    background: green;
}

@media screen and (max-width:600px) {
    .caja1 {
        width: 100%;
        background: yellow;
        font-size: 12px;
    }
    .caja2 {
        width: 100%;
    }

}
