* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    background: white;
}
.contanier {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    max-width: 1600px;
    margin: auto;
    width: 90%;
}
header {
    width: 100%;
    background: #00296b;
    color: #fff;
    padding: 20px;
    font-size: 20px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items:center;
    justify-content:  space-between;
}
header .logo img{
  width: 150px;
  height: 150px;
  border-radius: 50%;
  border: 5px solid #000;
}
header .menu a{
  color: #fff;
  text-decoration: none;
  margin-right: 40px;
  font-size: 18px;
}
header .menu a:hover{
  text-decoration: underline;
}
.aside1 {
    width: 20%;
    background: #00509d;
    color: #fff;
    padding: 20px;

}
.aside1 article{
  background: #339cff;
  color: #000;
  padding: 10px ;
}
.aside1 article h2{
  margin-bottom: 20px;
  font-size: 32px;
  font-weight: normal;
}
.aside1 article p{
  margin-bottom: 20px;
  font-size: 14px;
  line-height: 27px;
}
section {
    width: 60%;
    background: #003f88;
    color: #fff;
    padding: 20px;
    font-size: 20px;
    text-align: center;
}
section article{
    background: #339cff;
    color:#000;
    padding: 10px;
}
section article .imagen{
  margin-bottom: 20px;
}
section article .imagen img{
  width: 100%;
}
section article h2{
  margin-bottom: 20px;
  font-weight: normal;
  font-size: 32px;
}
section article p{
  margin-bottom: 20px;
  font-size: 14px;
  line-height: 27px;
}
aside {
    width: 20%;
    background: #00509d;
    color: #fff;
    padding: 20px;
    font-size: 20px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-between;
}
aside .publicidad{
  background: #339cff;
  padding: 50px 0;
  font-size: 30px;
  text-align: center;
}

footer {
    width: 100%;
    background: #fdc500;
    color: #fff;
    padding: 20px;
    font-size: 20px;
}
/**Media query**/
@media screen and (max-width:1000px) {
      header{
        text-align: center;
      }
      .aside1{
        width: 100%;
      }
      section{
        width: 100%;
      }
      aside{
        width: 100%;
        text-align: center;
      }
      footer{
        text-align: center;

      }
}
@media screen and (max-width:600px){
  .aside1{
    width: 100%;
  }
  section{
    width: 100%;
  }
}










/**/
